<nav class="navbar navbar-expand-lg navbar-dark bg-dark perso_size20">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle perso_ColorRoseMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fichier
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item perso_ColorRoseMenu" href="#">Qui sommes-nous ?</a>
                  <a class="dropdown-item perso_ColorRoseMenu" href="#">Partenaires</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle perso_ColorOrangeMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Espace Médecin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item perso_ColorOrangeMenu" href="#">Ordonnances médicales</a>
                  <a class="dropdown-item perso_ColorOrangeMenu" href="#">Informations médicales</a>
                  <a class="dropdown-item perso_ColorOrangeMenu" href="#">Certificats médicaux</a>
                  <a class="dropdown-item perso_ColorOrangeMenu" href="#">Gestion des médicaments</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle perso_ColorVertMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Espace Secrétaire
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item perso_ColorVertMenu" routerLink="/patient">Gestion des Patients</a>
                  <a class="dropdown-item perso_ColorVertMenu" routerLink="/rdv">Gestion des Rendez-vous</a>
                  <a class="dropdown-item perso_ColorVertMenu" routerLink="/compta">Gestion de la Comptabilité</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle perso_ColorRougeMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Administrateur
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item perso_ColorRougeMenu" href="#">Températures</a>
                  <a class="dropdown-item perso_ColorRougeMenu" href="#">Le chocolat</a>
                  <a class="dropdown-item perso_ColorRougeMenu" href="#">Les plantes toxiques</a>
                  <a class="dropdown-item perso_ColorRougeMenu" href="#">Stérilisation</a>
                  <a class="dropdown-item perso_ColorRougeMenu" href="#">Educateur canin</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle perso_ColorBleuCielMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Outils
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item perso_ColorBleuCielMenu" href="#">Calculatrice</a>
                  <a class="dropdown-item perso_ColorBleuCielMenu" href="#">Bloc note</a>
                  <a class="dropdown-item perso_ColorBleuCielMenu" href="#">Web</a>
              </div>
          </li>
      </ul>
    </div>
  </nav>